<h1> 
  <%= @post.title %> 
</h1> 
<i>
  Author: <%= @post.author %> 
</i>

<i>
  Posted At: <%= @post.created_at %>
</i>

<p>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> 
<%= link_to 'Delete', posts_path(@post), method: :delete %> 
<%= link_to 'All Posts', root_path %> 
